:root {
    --header-color: rgba(246, 193, 1);
    --subHeader-color: rgba(236, 157, 0);
    --text-color: rgba(223, 141, 3);
}

a {
    color: var(--header-color);
}

.subtitle {
    color: var(--text-color);
}

.placeHolder {
    background-color: var(--Stone);
    margin-top: 20px;
    min-height: 50px;
    min-width: 100%;
    border: 2px dashed var(--Azure);
    border-radius: 12px;
}

.bottom-trash {
    opacity: 0;
    color: var(--header-color);
    font-size: 7rem;
    font-family: "Staatliches", sans-serif;
    background-color: none;
    padding-top: 40px;
    padding-left: 40%;

    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

.bottom-trash-drag {
    opacity: 1;
}

.bottom-trash-active {
    color: var(--text-color);
}

.card {
    background-color: #4a4a4a;
}
.brew-name {
    color: var(--header-color);
}

#company-name {
    color: var(--header-color);
}
#slogan {
    color: var(--subHeader-color);
}
.div-headers {
    color: var(--subHeader-color);
}

#input-header {
    color: var(--subHeader-color);
}
footer {
    text-align: center;
    justify-content: space-between;
}

#map {
    width: 600px;
    height: 600px;
}

#beerIcon {
    color: var(--subHeader-color);
}
.modal-background {
    color: var(--header-color);
}

@media screen and (max-width: 1200px) {
    footer {
        width: 100%;
    }
    .title {
        width: 100%;
        font-size: 3rem;
    }
    .subtitle {
        width: 100%;
    }
    .modal {
        width: 40%;
    }
    .cityButton {
        font-size: 1rem;
        word-wrap: normal;
    }
    .bottom-trash {
        font-size: 4rem;
        padding-top: 0%;
        padding-left: 46%;
    }
    #input-header {
        width: 100%;
        font-size: 1rem;
    }
    .has-icons-left {
        width: 100%;
    }
    #state-name {
        width: 100%;
    }
    #search-btn {
        width: 100%;
    }
    .card-footer-item {
        width: 100%;
    }
    #map {
        width: 50%;
        height: 50%;
    }
    #slogan {
        font-size: 2rem;
    }
}
@media screen and (max-width: 799px) {
    p {
        text-align: center;
    }
    .title {
        text-align: center;
    }
    .subtitle {
        text-align: center;
    }
    #map {
        width: 100px;
        height: 100px;
    }
    #input-header {
        font-size: 2rem;
    }

    #slogan {
        font-size: 1.5rem;
        text-align: center;
    }
}
@media screen and (max-width: 480px) {
    .title {
        font-size: 2.6rem;
    }

    .bottom-trash {
        font-size: 4rem;
        padding-top: 0%;
        padding-left: 42%;
    }
    #input-header {
        font-size: 1.3rem;
    }
}
